/*  Estilo geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Outfit", sans-serif;
    font-weight: 100;

    scroll-behavior: smooth;
}

body {
    background-color: black;
    min-height: 100vh;
    color: rgb(255, 255, 255);

    padding-top: 110px;/*  após mexer no header para animar o scrol, a paginma ficou meio cortada, adicionei isso para compensar */
}

/* esta classe serve para delimitar a área dos itens da página */
.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.habilidades i {
    padding-right: 2%
}

section h1 {
    /* define todas as h1 do projeto */
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;
}

.img-logo-p {
    width: 100px;
    height: 100px;
}

section {
    scroll-margin-top: 100px;
    /* pra dar uma alinhada na gora de clicar no click e levar pra sessao */
}

/* fim estilo geral */

/* ------------------------------------------------------------------ */

/* Estilo do cabeçalho */
/* botão hamburguer */
button.menu-hamburguer {
    width: 30px;
    height: 30px;
    background: transparent;
    border-color: transparent;
    cursor: pointer;

    transition: 1s;
}

button.menu-hamburguer:hover {
    transform: scale(1.2);
}

.linha {
    width: 20px;
    height: 1px;
    background-color: rgb(255, 255, 255);
    display: block;
    margin: 5px auto;
    position: relative;
    transform-origin: center;


    transition: 0.2s;
}

button.ativar .linha:nth-child(1) {
    transform: translateY(7px) rotate(-45deg);
    background-color: rgb(212, 71, 71);
}

button.ativar .linha:nth-child(3) {
    transform: translateY(-5px) rotate(45deg);
    background-color: rgb(212, 71, 71);
}

button.ativar .linha:nth-child(2) {
    width: 0;
}

.btn-hamburguer {
    padding: 5px 10px;
    /* deixa afastado da lateral */
}

/* estilo menu hamburguer */
.btn-hamburguer {
    position: relative;
    /* aqui precisa ser relative e nas opções precisa ser obsolute, pra ele saber a referencia de onde se alinhas */
}

.opcoes-hamburguer {
    position: absolute; /* mostra que deve se alinhar com base no pai btn-hamgurguer que é relativo */
    top: 150%;/* logo abaixo do botão */
    left: 50%; /* pra deixar alinha no meio do botão */
    transform: translateX(-50%) translateY(-20px); /* pra deixar alinhado no meio do botão */
    padding: 10px;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    z-index: 9999;
    text-align: center;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.04));
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.85);
    border: 1px solid #3ba5a5;

    /* Animação */
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;

}

.opcoes-hamburguer.ativar {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
    /* Desce para posição normal */
}

.opcoes-hamburguer ul li {
    margin-top: 10px;
}

/* procura a classe interface dentro de header */
header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;

    transition: 0.5s;
}

header a:hover {
    transform: scale(1.06);
    color: #3ba5a5;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 30px;
}

header {
    border-bottom: 1px solid #3ba5a575;
    z-index: 1000; /* se não me engano serve para sobrepor outros elementos */

    background: linear-gradient(180deg, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.04));
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.85);

    position: fixed;
    top: 0;   /* deixa o header colado no topo inicialmente */

    /* left: 50%;
    transform: translateX(-50%);
    width: 100%; */

    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;


    transition: 
        width 0.4s ease,
        top 0.4s ease,
        border-radius 0.4s ease,
        box-shadow 0.4s ease;

}

header.scrolled {
    top: 10px;
    width: calc(100% - 100px);
    border-radius: 40px;
    box-shadow: 0 10px 30px rgba(0,0,0,.4);
}

/* ----------------------------------------------------------------------- */

/* estilo do topo */
section.topo {
    padding: 180px 5%;
}

section.topo .flex {
    align-items: center;
    justify-content: center;
    gap: 200px;
    /* distancia o texto da imagem */
}

/* texto animado */
.container-texto-dinamixo {
    position: relative;
    height: 1.5em;         
    margin: 15px 0;
    font-size: 20px;
}
.texto-fixo {
    position: relative;
    z-index: 1;
}
.texto-dinamico {
    position: absolute;
    left: 63px;            
    top: 0;
    width: 500px;         
    white-space: nowrap;
    overflow: hidden;
}

#texto-animado::after {
    content: '|';               /* barrinha */
    display: inline-block;
    margin-left: 2px;
    animation: blink 1.2s infinite; /* animação de piscar */           
}

@keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}
/* Fim texto animado */

.topo .txt-topo h1 {
    color: white;
    line-height: 35px;
    font-weight: bold;
    /* deixa o texto mais grosso */
}

.topo .txt-topo p {
    color: white;
    margin: 25px 0;
    font-size: 20px;
}

.topo .txt-topo h1 span {
    color: #3CA6A6;
    font-weight: bold;
    /* deixa o ponto final mais grosso */
}

.topo button {
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 500;
    background-color: #3CA6A6;
    border: 0;
    border-radius: 15px;
    cursor: pointer;


    transition: 0.5s;
}

.topo button:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 8px #3CA6A6;
}

.topo .img-topo img {
    position: relative;
    /* animação só funciona se setar um position */
    animation: flutuar 3s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* -------------------------------------------------------------------- */

/* habilidades */
section.habilidades {
    padding: 150px 5%;
}

.habilidades h1 {
    text-align: center;
    /* margin-bottom: 10px; */
    font-weight: bold;
}

/* Layout principal */
section.habilidades .flex {
    display: flex;
    flex-wrap: wrap;
    /* pra fazer o grafico descer */
    gap: 15%;
}

/* Bloco (linguagens / ferramentas) */
.habilidades-bloco {
    display: flex;
    flex-direction: column;

}

.habilidades-titulo {
    margin-bottom: 40px;
    font-size: 1.2em;
}

/* Container das skills */
.skills-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Skill individual (PADRÃO ÚNICO) */
.skill-item {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* Nome */
.skill-name {
    width: 120px;
    font-weight: bold;
    font-size: 1.1em;
}

/* Barra */
.skill-bar {
    /* flex: 1; */
    width: 500px;
    height: 30px;
    border-radius: 5px;
    background-color: transparent;
    overflow: hidden;
}

/* Progresso */
.skill-progress {
    height: 100%;
    border-radius: 5px;
    animation: fillBar 2s ease-in-out;
    transition: width 1s ease-in-out;
}

@keyframes fillBar {
    from {
        width: 0%;
    }
}

/* Ícones */
.skill-icon {
    font-size: 30px;
    width: 32px;
    /* força largura fixa */
    text-align: center;
    /* centraliza o ícone dentro */
    flex-shrink: 0;
    /* impede o flex de encolher */
}

/* Gráfico */
.skills-chart {
    width: 250px;
    height: 250px;
    margin-top: 10%;
    align-self: center;
}

section.habilidades p {
    margin-top: 40px;
}

/* -------------------------------------------------------------- */

/* SOBRE */
section.sobre {
    padding: 180px 5%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.sobre .txt-sobre .btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 40%;
    border: none;
    background-color: #3CA6A6;
    font-size: 25px;
    cursor: pointer;
    margin: 0 5px;

    transition: 0.5s;
}

.sobre .txt-sobre .btn-social button:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 8px #3CA6A6;
}

/* -------------------------------------------------------------------- */

/* PROJETOS */
section.projetos {
    padding: 180px 20px;
}

section.projetos h1 {
    text-align: center;
    margin-bottom: 50px;
}

section.projetos .flex {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

section.projetos .interface{
    max-width: 1400px;
}

/* ===================================================== CARD DO PROJETO ===================================================== */
.projeto-card {
    height: 450px;
    width: 420px;
    overflow: hidden;
    border-radius: 20px;
    
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.04));
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.85), inset 0 1px 0 rgba(255, 255, 255, 0.4);
    transition: transform 0.5s ease;

    display: flex;
    flex-direction: column;
}

.projeto-card:hover {
    transform: scale(1.01);
}

/* ===================================================== IMAGEM DO PROJETO ===================================================== */
.projeto-imagem {
    position: relative;
    height: 230px;
    background-size: cover;
    background-position: center top;
    transition: background-position 4s ease, transform 1s ease;

    height: 230px;
    flex-shrink: 0;  /* ADICIONE - impede que encolha */
}

.projeto-imagem i {
    position: absolute;
    top: 15px;      /* distância do topo */
    right: 15px;    /* distância da direita */
    font-size: 18px;
    color: rgba(182, 182, 182, 0.863);   
    cursor: pointer;
    transition: transform 0.3s ease;
}

.projeto-imagem i:hover {
    transform: scale(1.2); /* efeito de hover opcional */
}


.projeto-card:hover .projeto-imagem {
    background-position: center bottom;
}

/* ===================================================== INFORMAÇÕES DO PROJETO ===================================================== */
.projeto-info {
    padding: 20px 0;
    text-align: center;
}

.projeto-info h2 {
    font-weight: bold;
    margin-bottom: 10px;
}

.projeto-info p {
    font-size: 15px;
    /* margin-bottom: 12px; */
}

.p-escrolavel {
    font-size: 15px;
    line-height: 1.1;

    max-height: 30px;     /* limita a área visível */
    overflow-y: auto;     /* ativa scroll */

    /* padding-right: 5px;  */  /* evita texto colar na scrollbar */
}

/* ===================================================== TECNOLOGIAS ===================================================== */
.container-tecnologias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;

    min-height: 80px;   /* faz as duas linhas de tecnologias ficarem aparecendo */
    align-items: center;  /* se deixar sem isso, o backgroundo do span ocupa toda a altura, da pra resolver definindo uma altura pra ele tbm */
    max-height: 80px;     /* ⬅️ limita a área visível */
    overflow-y: auto;    /* ⬅️ ativa o scroll */
}

.container-tecnologias i {
    font-size: 1.3rem;
}

.tools-area {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #3ca6a646;
    padding: 4px 8px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
    height: 27px; /* altura do span */
}

/* ===================================================== LINKS / BOTÕES ===================================================== */

.projeto-links {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 5px;
}

.btn-projeto {
    display: flex;
    align-items: center;
    gap: 5px;

    padding: 3px 5px;
    border-radius: 15px;

    background-color: white;
    color: black;
    text-decoration: none;

    font-size: 15px;
    cursor: pointer;

    transition: transform 0.5s ease;
}

.btn-projeto:hover {
    transform: scale(1.05);
}

.btn-projeto i {
    font-size: 20px;
}
.btn-projeto span{
    font-weight: 500;
}

.container-tecnologias, .p-escrolavel {
    scrollbar-width: thin;
    scrollbar-color: rgba(180, 180, 180, 0.24) transparent;
}

/*  ----------------------------------------------------- */

/* contato */










/* footer */
footer {
    padding: 40px 5%;
    /* box-shadow: 0 0 40px 10px #3CA6A6; */
    border-top: 1px solid #3ba5a575;
}

footer .flex {
    justify-content: space-between;
}

footer button {
    background-color: transparent;
    color: white;
    border: none;

    transition: 0.5s;
}

footer .btn-social button:hover {
    transform: scale(1.2);
}

footer .btn-social {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer i {
    cursor: pointer;
    font-size: 25px;
    color: rgb(99, 99, 99);
}

footer .line-footer p a {
    color: white;
    text-decoration: none;
}

/* ----------------------------------------------------------- */

/* responsividade */
@media screen and (max-width: 520px) {
    .projeto-card{
        width: 300px;          /*  diminui o card  */
    }
}
@media screen and (max-width: 1460px) {
    .opcoes-hamburguer {
        left: auto;
        /* remove centralização */
        transform: translateY(-20px);
        /* Mantém só o Y para animação */
        right: 10px;
    }

    .opcoes-hamburguer.ativar {
        transform: translateY(0);
        /* Só desce, sem mover horizontalmente */
    }
}

@media screen and (max-width: 855px) {

    /* classes gerais */
    .flex {
        flex-direction: column;
    }

    .topo .flex {
        flex-direction: column-reverse;
    }

    /* Cabeçalho */
    .menu-desktop {
        display: none;
    }

    /* topo */
    section.topo {
        padding-top: 50px;
    }

    section.topo .flex {
        gap: 50px;
        /* distancia o texto da imagem */
    }

    /* Habilidades */
    .skill-bar {
        width: 250px;
    }

    /* sobre */
    .sobre .txt-sobre {
        text-align: center;
    }

    /* Projetos */


    /* footer */
    footer .flex {
        align-items: center;
    }

    footer .line-footer {
        text-align: center;
    }

}








